<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>anti_aiborne/explosion/explosion_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,8}</string>
    <key>spriteSize</key>
    <string>{83,76}</string>
    <key>spriteSourceSize</key>
    <string>{357,310}</string>
    <key>textureRect</key>
    <string>{{672,288},{83,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/explosion/explosion_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,9}</string>
    <key>spriteSize</key>
    <string>{195,163}</string>
    <key>spriteSourceSize</key>
    <string>{357,310}</string>
    <key>textureRect</key>
    <string>{{670,0},{195,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/explosion/explosion_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-3}</string>
    <key>spriteSize</key>
    <string>{315,272}</string>
    <key>spriteSourceSize</key>
    <string>{357,310}</string>
    <key>textureRect</key>
    <string>{{355,288},{315,272}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/explosion/explosion_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,7}</string>
    <key>spriteSize</key>
    <string>{313,286}</string>
    <key>spriteSourceSize</key>
    <string>{357,310}</string>
    <key>textureRect</key>
    <string>{{355,0},{313,286}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/explosion/explosion_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{353,297}</string>
    <key>spriteSourceSize</key>
    <string>{357,310}</string>
    <key>textureRect</key>
    <string>{{0,0},{353,297}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/explosion/explosion_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,12}</string>
    <key>spriteSize</key>
    <string>{351,286}</string>
    <key>spriteSourceSize</key>
    <string>{357,310}</string>
    <key>textureRect</key>
    <string>{{0,299},{351,286}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/explosion/explosion_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,7}</string>
    <key>spriteSize</key>
    <string>{273,238}</string>
    <key>spriteSourceSize</key>
    <string>{357,301}</string>
    <key>textureRect</key>
    <string>{{355,562},{273,238}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/explosion/explosion_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,7}</string>
    <key>spriteSize</key>
    <string>{269,227}</string>
    <key>spriteSourceSize</key>
    <string>{357,301}</string>
    <key>textureRect</key>
    <string>{{0,587},{269,227}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/explosion/explosion_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,7}</string>
    <key>spriteSize</key>
    <string>{241,241}</string>
    <key>spriteSourceSize</key>
    <string>{357,301}</string>
    <key>textureRect</key>
    <string>{{630,562},{241,241}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/paratrooper/gunner_crouch_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,1}</string>
    <key>spriteSize</key>
    <string>{28,33}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{672,449},{28,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/paratrooper/gunner_crouch_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,1}</string>
    <key>spriteSize</key>
    <string>{28,32}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{757,288},{28,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/paratrooper/gunner_crouch_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{28,29}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{271,779},{28,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/paratrooper/gunner_jump_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,1}</string>
    <key>spriteSize</key>
    <string>{28,31}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{757,322},{28,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/paratrooper/gunner_jump_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,2}</string>
    <key>spriteSize</key>
    <string>{28,34}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{321,729},{28,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/paratrooper/para</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,103}</string>
    <key>spriteSourceSize</key>
    <string>{75,103}</string>
    <key>textureRect</key>
    <string>{{271,587},{75,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/planes/plane</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{218,120}</string>
    <key>spriteSourceSize</key>
    <string>{218,120}</string>
    <key>textureRect</key>
    <string>{{670,165},{218,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/tank/body</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,53}</string>
    <key>spriteSourceSize</key>
    <string>{84,53}</string>
    <key>textureRect</key>
    <string>{{672,366},{84,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/tank/crosshair</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{271,729},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/tank/tank_bullet3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,26}</string>
    <key>spriteSourceSize</key>
    <string>{38,26}</string>
    <key>textureRect</key>
    <string>{{672,421},{38,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/tank/tracks</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{74,35}</string>
    <key>spriteSourceSize</key>
    <string>{74,35}</string>
    <key>textureRect</key>
    <string>{{271,692},{74,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/tank/turret1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,12}</string>
    <key>spriteSourceSize</key>
    <string>{40,12}</string>
    <key>textureRect</key>
    <string>{{712,421},{40,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/tank/turret2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{20,13}</string>
    <key>spriteSourceSize</key>
    <string>{20,13}</string>
    <key>textureRect</key>
    <string>{{672,484},{20,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{890,816}</string>
   <key>textureFileName</key>
   <string>battle_scene.png</string>
  </dict>
 </dict>
</plist>
