<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>anti_aiborne/paratrooper/gunner_crouch_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,1}</string>
    <key>spriteSize</key>
    <string>{28,33}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{213,122},{28,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/paratrooper/gunner_crouch_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,1}</string>
    <key>spriteSize</key>
    <string>{28,32}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{183,177},{28,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/paratrooper/gunner_crouch_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{28,29}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{213,190},{28,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/paratrooper/gunner_jump_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,1}</string>
    <key>spriteSize</key>
    <string>{28,31}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{213,157},{28,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/paratrooper/gunner_jump_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,2}</string>
    <key>spriteSize</key>
    <string>{28,34}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{153,177},{28,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/paratrooper/para</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,103}</string>
    <key>spriteSourceSize</key>
    <string>{75,103}</string>
    <key>textureRect</key>
    <string>{{0,122},{75,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/planes/plane</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{218,120}</string>
    <key>spriteSourceSize</key>
    <string>{218,120}</string>
    <key>textureRect</key>
    <string>{{0,0},{218,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/tank/body</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,53}</string>
    <key>spriteSourceSize</key>
    <string>{84,53}</string>
    <key>textureRect</key>
    <string>{{77,122},{84,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/tank/crosshair</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{163,122},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/tank/tracks</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{74,35}</string>
    <key>spriteSourceSize</key>
    <string>{74,35}</string>
    <key>textureRect</key>
    <string>{{77,177},{74,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/tank/turret1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,12}</string>
    <key>spriteSourceSize</key>
    <string>{40,12}</string>
    <key>textureRect</key>
    <string>{{153,213},{40,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anti_aiborne/tank/turret2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{20,13}</string>
    <key>spriteSourceSize</key>
    <string>{20,13}</string>
    <key>textureRect</key>
    <string>{{220,0},{20,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{243,227}</string>
   <key>textureFileName</key>
   <string>battle_scene.png</string>
  </dict>
 </dict>
</plist>
